*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#fade{
    border: 2px solid;
    width: 250px;
    height: 250px;
    background-color: red;
}
#btn{
    width: 5rem;
    height: 2rem;
}