*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    animation: key 5s infinite;
    background-color: lawngreen;
    transition: 2s;
}
div{
    width: 15rem;
    height: 15rem;
    transition: 2s;
    animation: key 5s  infinite;
    background-color: darkgoldenrod;
    border:5px solid blue;
    position: absolute;
}
@keyframes key{
    0%{
        transform: rotate(360deg);
        background-color: crimson;
    }
    25%{
        transform: rotate(-360deg);
        background-color: brown;
    }
    50%{
        transform: rotate(360deg);
        background-color: black;
    }
    75%{
        transform: rotate(-360deg);
        background-color: deeppink;
    }
    100%{
        transform: rotate(360edg);
        background-color: limegreen;
    }

        
    }

