*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://th.bing.com/th/id/OIP.SdNJqMNBESVqNQ3sFrT73wHaFE?w=259&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
#text{
    width: 20rem;
    height: 5rem;
    border: 2px solid;
    border-radius: 0.5rem;   
}
#btn{
    width: 5rem;
    height: 2rem;
    font-size: 1rem;   
}