*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}
#modal{
    display: none;
    position: fixed;
    top: 20%;
    left: 35%;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 10px blue;
    border: none;
    background-color: white;
    z-index: 1;
    text-align: center;
    padding: 10px;
}
.about-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#modal-button{
    margin: 30px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: orange;
    border: none;
}
#close{
    text-align: right;
    padding: 10px;
    color: red;
    font-weight: bolder;
}
#close:hover{
    color: chartreuse;
    cursor: pointer;
}