*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;    
}
body{
    width: 100%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.c1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.c2{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
.c2:hover{
    color:lime;
    text-decoration: none;
}
.c21:hover{
    color: white;
}
.c21{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    background-color:darkcyan;
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c20{
    position: absolute;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.c11{
    width: 10rem;
    height:5rem;
    position: absolute;
     top: 0;
   left: 2rem;
}
@media screen and (min-width:250px) and (max-width:850px){
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.c20{
display: block;
}
}
  