*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
  background-color: aqua;    
}
.tab {
    padding: 2rem;
    margin: 5rem;
    margin-left: 41rem;
  }
  .btn1 {
    background-color:darkorange;
     padding: 1rem; 
     margin: 0.5rem;
     font-size: 1.5rem;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
  } 
  .btn1:hover {
    background-color:chartreuse;
  }
  #p1 {
    font-size: 1.5rem;
    font-family: cursive;
    margin: 1rem;
    color:blue;
  }