*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
section{
    border: 5px solid;
    border-color: rgb(0, 200, 255);
   width: 50rem;
   height: 35rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 3rem;
   background-color:black;
}

#input{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 2rem;
   width: 15rem;  
}
 /* #select{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 2rem;
   width: 30rem; 
 }  */
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 5rem;
    font-size: 1rem;  
}