*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
   width: 80%;
   height: 70vh;
    border: 55px solid black; 
   background-color:gray;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
 #container{
    width: 100%;
    height: 55vh;
}

#btn{
    width: 8rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color:cyan;
    color: black;
}