*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.JVREVKJ-48c7IzczDJL7HAHaE7&pid=Api&P=0);
    background-repeat: no-repeat;
    background-size: cover;
}
#userinput
{
    width: 30rem;
    height: 5rem;
    border: 2px solid;
    border-radius: 1rem;
}
#btn{
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
}
#locationnn{
    font-size: 2rem;
}
#temperature{
    font-size: 2rem;
}
#climate{
    font-size: 2rem;
}